@import '~@angular/material/theming';

.ticket-container {

  // min-width: 80%;
  margin: 30px;
  padding: 0px;

  &_title {
    display:flex;
    justify-content: center;
  }

  &_content {
    margin: 20px;
  }

}
.user{
  padding: 20px;
  display: flex;
}
.actions {
  display: flex;
  justify-content: space-between;
}

.icon {
  padding: 0 10px;
}

.completed {
  color: green;
}

.pending {
  color: red;
}
